In [2]:
import pandas as pd


nyc = pd.read_csv("cleaneddata\Motor_Vehicle_Collisions_-_Crashescleaned.csv")
nyc

,CRASH DATE,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,9/11/2021,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0,0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,3/26/2022,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0,0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,6/29/2022,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,9/11/2021,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",0.0,0.0,0,0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",0.0,0.0,0,0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,9/3/2016,NaN,NaN,40.678097,-73.941666,"(40.678097, -73.941666)",0.0,0.0,0,0,...,Unspecified,NaN,NaN,NaN,3514166,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1048571,8/20/2016,NaN,NaN,40.736774,-73.984260,"(40.736774, -73.98426)",1.0,0.0,0,0,...,NaN,NaN,NaN,NaN,3503834,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1048572,8/26/2016,QUEENS,11694.0,40.579975,-73.855255,"(40.579975, -73.855255)",0.0,0.0,0,0,...,Unspecified,NaN,NaN,NaN,3508053,Sedan,Sedan,NaN,NaN,NaN
1048573,9/14/2016,QUEENS,11422.0,40.635880,-73.740204,"(40.63588, -73.740204)",1.0,0.0,0,0,...,Unspecified,NaN,NaN,NaN,3519406,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1048574,8/20/2016,BROOKLYN,11216.0,40.686092,-73.950730,"(40.686092, -73.95073)",0.0,0.0,0,0,...,Unspecified,NaN,NaN,NaN,3506295,Sedan,Sedan,NaN,NaN,NaN

In [4]:
casualties = nyc.iloc[:, 7:15]

casualties

,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1
0,0.0,0,0,0,0,2,0,Aggressive Driving/Road Rage
1,0.0,0,0,0,0,1,0,Pavement Slippery
2,0.0,0,0,0,0,0,0,Following Too Closely
3,0.0,0,0,0,0,0,0,Unspecified
4,0.0,0,0,0,0,0,0,Unspecified
...,...,...,...,...,...,...,...,...
1048570,0.0,0,0,0,0,0,0,Unspecified
1048571,0.0,0,0,0,0,1,0,Traffic Control Disregarded
1048572,0.0,0,0,0,0,0,0,Glare
1048573,0.0,0,0,0,0,1,0,Unspecified
1048574,0.0,0,0,0,0,0,0,Unspecified

In [11]:
deaths = casualties[casualties["NUMBER OF PERSONS KILLED"] > 0]
deaths

,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1
39,1.0,0,1,0,0,0,0,Unspecified
148,1.0,0,1,0,0,0,0,Unspecified
591,1.0,0,1,0,0,0,0,Driver Inattention/Distraction
605,1.0,0,0,0,0,4,1,Alcohol Involvement
1320,1.0,0,1,0,0,0,0,Unsafe Speed
...,...,...,...,...,...,...,...,...
1041580,1.0,0,1,0,0,0,0,Unspecified
1042446,1.0,0,0,0,1,0,0,Pedestrian/Bicyclist/Other Pedestrian Error/Co...
1042786,1.0,0,1,0,0,0,0,Backing Unsafely
1045897,1.0,0,1,0,0,0,0,Unspecified
1046019,1.0,0,0,0,0,0,1,Unsafe Speed

In [19]:
deaths = casualties[casualties["NUMBER OF PERSONS KILLED"] > 1]
deaths

,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1
4138,2.0,0,0,0,0,0,2,Unsafe Speed
22641,2.0,0,0,0,0,0,2,Unsafe Speed
23325,3.0,0,0,0,0,0,3,Unsafe Speed
24994,2.0,0,1,0,1,0,0,Unspecified
44652,2.0,0,0,0,0,0,2,Unsafe Lane Changing
60734,2.0,0,2,0,0,0,0,Unspecified
66812,2.0,0,0,0,0,4,2,Unsafe Speed
111290,2.0,0,0,0,0,2,2,Unsafe Speed
114157,3.0,0,0,0,0,0,3,Unsafe Speed
114218,2.0,0,0,0,0,1,2,Unsafe Speed
115364,2.0,0,0,0,0,0,2,Unsafe Lane Changing
118155,3.0,0,0,0,0,6,3,Unsafe Speed
128633,2.0,0,0,0,0,1,2,Unsafe Speed
140093,2.0,0,2,0,0,5,0,Unsafe Speed
149679,2.0,0,0,0,0,0,2,Aggressive Driving/Road Rage
166102,2.0,0,0,0,0,0,2,Traffic Control Disregarded
180811,2.0,0,0,0,0,0,2,Traffic Control Disregarded
185103,2.0,0,0,0,0,1,2,Unsafe Speed
186890,2.0,3,2,0,0,0,0,Driver Inexperience
189404,2.0,0,0,0,0,2,2,Driver Inattention/Distraction
200072,2.0,0,0,0,0,1,2,Illnes
219632,3.0,0,0,0,0,1,3,Unsafe Speed
227193,3.0,0,0,0,0,4,3,Driver Inexperience
234836,2.0,0,0,0,0,5,2,Unsafe Speed
239679,2.0,0,0,0,0,5,2,Failure to Keep Right
249675,2.0,0,0,0,0,2,2,Unsafe Speed
252131,2.0,0,1,0,0,0,1,Unsafe Speed
270968,4.0,0,0,0,0,0,4,Unsafe Speed
338728,2.0,0,0,0,0,1,2,Unspecified
378038,2.0,0,0,0,0,0,2,Unsafe Speed
403830,2.0,0,0,0,0,4,2,Lost Consciousness
417683,2.0,0,0,0,0,0,2,Unsafe Speed
473227,2.0,0,1,0,0,1,1,Driver Inattention/Distraction
491520,2.0,0,0,0,0,0,2,Unsafe Speed
550998,2.0,0,0,0,0,1,2,Unsafe Speed
658850,2.0,0,2,0,0,1,0,Unspecified
692478,2.0,3,2,0,0,1,0,Illnes
773328,2.0,0,0,0,0,0,2,Unsafe Speed
782032,8.0,7,6,1,2,4,0,Other Vehicular
818440,4.0,3,2,0,0,12,2,Unsafe Speed
848459,2.0,0,0,0,0,8,2,Unsafe Speed
857559,2.0,0,0,0,0,1,2,Unsafe Speed
905859,2.0,0,0,0,0,0,2,Unspecified
943175,2.0,0,0,0,0,0,2,Unsafe Speed
966467,3.0,0,0,0,0,5,3,Driver Inattention/Distraction

In [22]:

iowa = pd.read_csv("cleaneddata\Crashes_in_Iowa_by_Severity_and_Day_20240403.csv")
iowa

,Date of Crash,Crash Severity,Crashes,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,https://data.iowa.gov/stories/s/Iowa-Crashes/m73g-tzgc
0,1/1/2009,Property Damage Only,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/1/2009,Minor Injury,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/1/2009,Possible/Unknown,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/1/2009,Major Injury,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/2/2009,Minor Injury,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
24974,3/20/2024,Minor Injury,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24975,3/21/2024,Minor Injury,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24976,3/21/2024,Major Injury,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24977,3/21/2024,Property Damage Only,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24978,3/21/2024,Possible/Unknown,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
minor = iowa[iowa["Crash Severity"] == "Minor Injury"]
minor

,Date of Crash,Crash Severity,Crashes,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,https://data.iowa.gov/stories/s/Iowa-Crashes/m73g-tzgc
1,1/1/2009,Minor Injury,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/2/2009,Minor Injury,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1/3/2009,Minor Injury,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1/4/2009,Minor Injury,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1/5/2009,Minor Injury,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
24964,3/17/2024,Minor Injury,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24967,3/18/2024,Minor Injury,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24970,3/19/2024,Minor Injury,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24974,3/20/2024,Minor Injury,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24975,3/21/2024,Minor Injury,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
major = iowa[iowa["Crash Severity"] == "Major Injury"]
major

,Date of Crash,Crash Severity,Crashes,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,https://data.iowa.gov/stories/s/Iowa-Crashes/m73g-tzgc
3,1/1/2009,Major Injury,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1/2/2009,Major Injury,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1/3/2009,Major Injury,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1/4/2009,Major Injury,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1/5/2009,Major Injury,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
24953,3/15/2024,Major Injury,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24958,3/16/2024,Major Injury,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24961,3/17/2024,Major Injury,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24968,3/18/2024,Major Injury,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24976,3/21/2024,Major Injury,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
transit = pd.read_csv("cleaneddata\Daily_Transit_Ridership.csv")
transit

,Agency,Mode,Date,Week Number,Current Ridership,Year
0,WMATA Bus and Rail,Transit,06/05/2022,24,266000,2022
1,WMATA Bus and Rail,Transit,06/06/2022,24,506000,2022
2,WMATA Bus and Rail,Transit,06/07/2022,24,536000,2022
3,WMATA Bus and Rail,Transit,06/08/2022,24,551000,2022
4,WMATA Bus and Rail,Transit,06/09/2022,24,539000,2022
...,...,...,...,...,...,...
206,San Francisco BART Rail,Transit,08/30/2022,36,155141,2022
207,San Francisco BART Rail,Transit,08/31/2022,36,161236,2022
208,San Francisco BART Rail,Transit,09/01/2022,36,159373,2022
209,San Francisco BART Rail,Transit,09/02/2022,36,138449,2022
210,San Francisco BART Rail,Transit,09/03/2022,36,90241,2022

In [31]:
nyct = transit[transit["Agency"] == "New York City MTA Rail"]
nyct

,Agency,Mode,Date,Week Number,Current Ridership,Year
7,New York City MTA Rail,Transit,06/25/2022,27,2287013,2022
8,New York City MTA Rail,Transit,06/26/2022,27,2012595,2022
9,New York City MTA Rail,Transit,06/27/2022,27,2938858,2022
10,New York City MTA Rail,Transit,06/28/2022,27,3255241,2022
11,New York City MTA Rail,Transit,06/29/2022,27,3256053,2022
...,...,...,...,...,...,...
66,New York City MTA Rail,Transit,08/23/2022,35,2998518,2022
67,New York City MTA Rail,Transit,08/24/2022,35,3026746,2022
68,New York City MTA Rail,Transit,08/25/2022,35,3097023,2022
69,New York City MTA Rail,Transit,08/26/2022,35,2868622,2022
70,New York City MTA Rail,Transit,08/27/2022,35,2068756,2022

In [36]:
avg = nyct["Current Ridership"].mean()
avg

#Iowa has 1,119,070 registered cars
#

2654728.4375