In [1]:
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv(r"drug_smile.csv")
df

              name                                              SMILE
0     cabozantinib  COC1=CC2=C(C=CN=C2C=C1OC)OC3=CC=C(C=C3)NC(=O)C...
1    nakiterpiosin  CC1CC(OC1=O)C(C(C2=C(C3=C(C=C2)C4CC(C56C(OCC(O...
2          MST-312  C1=CC(=CC(=C1)NC(=O)C2=C(C(=CC=C2)O)O)NC(=O)C3...
3          GSK4112  CC(C)(C)OC(=O)CN(CC1=CC=C(C=C1)Cl)CC2=CC=C(S2)...
4            ML258  COC1=CC=C(C=C1)CN2C(=O)C3=C(C4=CC=CC=C4CC35CCC...
..             ...                                                ...
485  BRD-K02492147  CN1CCN(CC1)C(=O)C[C@@H]1O[C@H](CO)[C@@H](NS(=O...
486   methotrexate  CN(CC1=CN=C2C(=N1)C(=NC(=N2)N)N)C3=CC=C(C=C3)C...
487    importazole       CC(C1=CC=CC=C1)NC2=NC(=NC3=CC=CC=C32)N4CCCC4
488  BRD-K45681478                     ClC1=C(NCC=C)C(=O)c2ccccc2C1=O
489     BMS-536924  CC1=CC(=CC2=C1N=C(N2)C3=C(C=CNC3=O)NCC(C4=CC(=...

[490 rows x 2 columns]

In [3]:
df.columns

Index(['name', 'SMILE'], dtype='object')

In [4]:
df.head(7)

            name                                              SMILE
0   cabozantinib  COC1=CC2=C(C=CN=C2C=C1OC)OC3=CC=C(C=C3)NC(=O)C...
1  nakiterpiosin  CC1CC(OC1=O)C(C(C2=C(C3=C(C=C2)C4CC(C56C(OCC(O...
2        MST-312  C1=CC(=CC(=C1)NC(=O)C2=C(C(=CC=C2)O)O)NC(=O)C3...
3        GSK4112  CC(C)(C)OC(=O)CN(CC1=CC=C(C=C1)Cl)CC2=CC=C(S2)...
4          ML258  COC1=CC=C(C=C1)CN2C(=O)C3=C(C4=CC=CC=C4CC35CCC...
5     belinostat     C1=CC=C(C=C1)NS(=O)(=O)C2=CC=CC(=C2)C=CC(=O)NO
6     GSK525762A  CCNC(=O)CC1C2=NN=C(N2C3=C(C=C(C=C3)OC)C(=N1)C4...

In [5]:
df.shape

(490, 2)

In [6]:
df.isnull().sum()

name     0
SMILE    0
dtype: int64

In [7]:
df.boxplot

<bound method boxplot_frame of               name                                              SMILE
0     cabozantinib  COC1=CC2=C(C=CN=C2C=C1OC)OC3=CC=C(C=C3)NC(=O)C...
1    nakiterpiosin  CC1CC(OC1=O)C(C(C2=C(C3=C(C=C2)C4CC(C56C(OCC(O...
2          MST-312  C1=CC(=CC(=C1)NC(=O)C2=C(C(=CC=C2)O)O)NC(=O)C3...
3          GSK4112  CC(C)(C)OC(=O)CN(CC1=CC=C(C=C1)Cl)CC2=CC=C(S2)...
4            ML258  COC1=CC=C(C=C1)CN2C(=O)C3=C(C4=CC=CC=C4CC35CCC...
..             ...                                                ...
485  BRD-K02492147  CN1CCN(CC1)C(=O)C[C@@H]1O[C@H](CO)[C@@H](NS(=O...
486   methotrexate  CN(CC1=CN=C2C(=N1)C(=NC(=N2)N)N)C3=CC=C(C=C3)C...
487    importazole       CC(C1=CC=CC=C1)NC2=NC(=NC3=CC=CC=C32)N4CCCC4
488  BRD-K45681478                     ClC1=C(NCC=C)C(=O)c2ccccc2C1=O
489     BMS-536924  CC1=CC(=CC2=C1N=C(N2)C3=C(C=CNC3=O)NCC(C4=CC(=...

[490 rows x 2 columns]>